<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container mx-auto">
      <div class="grid h-screen place-items-center">
        <div>
          <div class="text-2xl font-bold"><%= title %></div>
          <div>Welcome to <%= title %></div>
        </div>
      </div>
    </div>
  </body>
</html>
